<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rescue Angels</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

            <!-- NAVBAR LIST (FULL WIDTH)-->

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

              <!-- NAVBAR TITLE -->
             <a class="navbar-brand" >Rescue Angels</a>

            <ul class="nav nav-pills nav-fill justify-content-end">
            
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/find-a-pet">Find a Pet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/breeds">Breeds</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/organizations">Organizations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/graphs">Graphs</a>
              </li>
            </ul>
          </nav>
          <!-- NAVBAR END -->

    <!-- Dog and Cat options-->
    <div class="row breeds-row">
      <div>Choose Pet Type
        <select id="pet-type" onchange="fillDropDown(this.value)">
          <option value="dogs">Dogs</option>
          <option value="cats">Cats</option>
        </select>
      </div>
      <div class="row breeds-row">
      <div>Find Breeds by
        <select id="characteristics" onchange="plotSunburst(this.value)">
        </select>
      </div>
    </div>
    <div class="row breeds-row">
      <div class="col-md-6 col-sm-6">
        <div id="sunburst"></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div><table><tbody></tbody></table></div>
      </div>
    </div>
  </div>

  <div id="footer">
    <p>Rescue Angels&copy;2021</p>
  </div>
  </div>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/breeds.js"></script>
</body>

</html>