<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  
<!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />

  <!-- Marker Cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  

</head>

<body>


      <!-- NAVBAR LIST (FULL WIDTH)-->

      <nav class="navbar navbar-expand-lg navbar-light">

        <!-- NAVBAR TITLE -->
       <a class="navbar-brand" >Rescue Angels</a>

      <ul class="nav nav-pills nav-fill justify-content-end">
        
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/find-a-pet">Find a Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/breeds">Breeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/organizations">Organizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graphs">Graphs</a>
        </li>
      </ul>
    </nav>
    <!-- NAVBAR END -->
    
      <!-- The div that holds our map -->
<!-- 
      <div class="container">
        <div class="row">
          <div class="col">
            <div id="map"></div>
          </div>
        </div>
      </div> -->
      <div class="row find-a-pet-row">Pet Type
      <select id="pet-type" onchange="optionChanged(this.value)">
        <option value="Dog">Dogs</option>
        <option value="Cat">Cats</option>
      </select>
      Breed
      <select id="pet-breed" onchange="findPetsByBreed(this.value)">
      </select>
      Choose Location
      <select id="pet-location">
      </select>
    </div>
    <div id="map"></div>
    
    <div id="footer">
      <p>Rescue Angels&copy;2021</p>
    </div>
  </div>
  

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <!-- Marker Cluster JS -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <!-- Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
  </script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/jv_config.js"></script>
  <script src="static/js/find-a-pet.js"></script>

</body>

</html>