<!DOCTYPE html>
<html lang="en">

<head>
<!-- Boostrap Stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
  
<!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="" />

</head>

<body>
  

      <!-- NAVBAR LIST (FULL WIDTH)-->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- NAVBAR TITLE -->
       <a class="navbar-brand" >Rescue Angels</a>

      <ul class="nav nav-pills nav-fill justify-content-end">
        
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/find-a-pet">Find a Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/breeds">Breeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/organizations">Organizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graphs">Graphs</a>
        </li>
      </ul>
    </nav>
    <!-- NAVBAR END -->
    
  <!-- The div that holds our map -->
    <div id="map"></div>


    
    <div id="footer">
      <p>Rescue Angels&copy;2021</p>
    </div>
  </div>
  <script src="../static/js/find-a-pet.js"></script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="..static/js/jv_config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="..static/js/find-a-pet.js"></script>

</body>

</html>