<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Boostrap Stylesheet -->

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
   <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
     <!-- NAVBAR -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <!-- NAVBAR TITLE -->
      <a class="navbar-brand" href="../templates/graphs.html">Graphs</a>
  

     <!-- NAVBAR LIST (FULL WIDTH)-->
      <ul class="nav nav-pills nav-fill justify-content-end">
        
        <li class="nav-item">
          <a class="nav-link" href="../templates/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/find-a-pet.html">Find a Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/breeds.html">Breeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/organizations.html">Organizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/graphs.html">Graphs</a>
        </li>
      </ul>
    </nav>
    <!-- NAVBAR END -->


    
    <div id="footer">
      <p>Rescue Angels&copy;2021</p>
    </div>
  </div>
  <script src="../static/js/graphs.js"></script>
</body>

</html>