<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rescue Angels</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- LOGO -->
    <canvas id="canvas-topbar">
      <h1>Rescue Angels</h1>
    </canvas>

    <!-- Dashboard menu -->
    <div class="grid-container">
      <!-- Pets image -->
      <div class="left-img">
        <img id="pets-logo" src="../static/images/pets.png">
      </div>
      <!-- Breeds -->
      <div class="row">
        <div class="col-md-12 col-sm-12 dashboard-circles-box">
          <a href="/breeds">
            <div id="dashboard-circle1">
              <p id="dashboard-menu-item1">Breeds</p>
            </div>
          </a>
        </div>
      </div>
      <!-- Find a Pet -->
      <div class="row">
        <div class="col-md-3 col-sm-3 ">
        </div>
        <div class="col-md-9 col-sm-9 dashboard-circles-box">
          <a href="/find-a-pet">
            <div id="dashboard-circle2">
              <p id="dashboard-menu-item2">Find a Pet</p>
            </div>
          </a>
        </div>
      </div>
      <!-- Organization -->
      <div class="row">
        <div class="col-md-3 col-sm-3 ">
        </div>
        <div class="col-md-9 col-sm-9 dashboard-circles-box">
          <a href="/organizations">
            <div id="dashboard-circle3">
              <p id="dashboard-menu-item3">Organizations</p>
            </div>
          </a>
        </div>
      </div>
      <!-- Graphs -->
      <div class="row">
        <div class="col-md-12 col-sm-12 dashboard-circles-box">
          <a href="/graphs">
            <div id="dashboard-circle4">
              <p id="dashboard-menu-item4">Graphs</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="footer">
      <p>Rescue Angels&copy;2021</p>
    </div>
  </div>
  <script src="../static/js/granim.js"></script>
  <script src="../static/js/main.js"></script>
  <script src="../static/js/word_cloud.js"></script>
  <script src="../static/js/index.js"></script>
</body>

</html>