<!DOCTYPE html>
<html lang="en">

<head>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="project-2/static/css/style.css">
</head>

<body>
      <!-- NAVBAR LIST (FULL WIDTH)-->

      <nav class="navbar navbar-expand-lg navbar-light">

        <!-- NAVBAR TITLE -->
       <a class="navbar-brand" >Rescue Angels</a>

      <ul class="nav nav-pills nav-fill justify-content-end">
        
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/find-a-pet">Find a Pet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/breeds">Breeds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/organizations">Organizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/graphs">Graphs</a>
        </li>
      </ul>
    </nav>
    <!-- NAVBAR END -->

    
    <div id="footer">
      <p>Rescue Angels&copy;2021</p>
    </div>
  </div>
  <script src="../static/js/organizations.js"></script>
</body>

</html>